@model Web.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .underline:hover{
        text-decoration:underline;
    }
</style>
<main>
    &lsaquo; <a href="@Url.Action("Sanpham","Admin")" class="dash-title underline"> Quay về quản lý sản phẩm</a>
    <h2 class="dash-title">Edit Sản Phẩm</h2>
    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
                <div class="detail">
                    @using (Html.BeginForm("Edit", "Add", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.PRODUCT_ID)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="left">
                            Tên Sản Phẩm <br>
                            @Html.TextBoxFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            Số Lượng <br>
                            @Html.TextBoxFor(model => model.SL, new { htmlAttributes = new { @class = "form-control" } })
                            <br>
                            Mô Tả<br>
                            @Html.TextBoxFor(model => model.Mota, new { @class = "mota" })
                        </div>
                        <div class="right">
                            <br>
                            @Html.LabelFor(model => model.Size)
                            @{ 
                                Web.Models.QLWebBanHangEntities1 db = new Web.Models.QLWebBanHangEntities1();
                                var sz = db.Sizes.ToList();
                                <select name="SIZE_ID">
                                    @foreach(var item in sz)
                                    {
                                        <option value="@item.SIZE_ID">@item.TENSIZE</option>
                                    }
                                </select>
                            }
                            <br>
                            Loại Sản Phẩm <br />
                            @{ 
                                var lsp = db.CategoryCons.ToList();
                                <select name="CATEGORYCON_ID">
                                    @foreach(var item in lsp)
                                    {
                                        <option value="@item.CATEGORYCON_ID">@item.TENLOAISP</option>
                                    }
                                </select>
                            }
                            <br>
                            Giá<br>
                            @Html.TextBoxFor(model => model.GIA, new { @class = "" })
                            <br>
                            Hình ảnh <br>
                            <div class="text-center">
                                <img src="@Url.Content("~/Content/img/it_service/"+Model.HINHANH)" class="avatar img-circle img-thumbnail" alt="avatar" style="width:300px">
                                <h6>Upload PicTure</h6>
                                <input type="file" class="text-center center-block file-upload" name="HINHANH">
                                <span style="color:red">@ViewBag.upload</span>
                            </div><br>
                        </div>
                        <div class="btn">
                            <input type="submit" value="EDIT">
                        </div>}
                </div>
            </div>
            <div class="summary">
                <div class="summary-card">
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fas fa-id-badge fa-2x"></i></span>
                        <div>
                            <h5>196</h5>
                            <small>Nhân Viên</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fas fa-smile fa-2x"></i></span>
                        <div>
                            <h5>200</h5>
                            <small>Sản Phẩm Bán Chạy</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fab fa-product-hunt fa-2x"></i></span>
                        <div>
                            <h5>125</h5>
                            <small>Sản Phẩm Mới</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {


            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
    </script>
</main>

