@using Web.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main>
    <h2 class="dash-title">Sản Phẩm</h2>
    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
                <div class="right">
                    <a href="@Url.Action("CreateProduct","Add")"><button><i class="fas fa-plus-circle"></i> Tạo Sản Phẩm</button></a>
                </div>
                <table>
                    <thread>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Loại</th>
                            <th>Số Lượng</th>
                            <th>Giá</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="content"><img src="~/Content/img/it_service/@item.HINHANH" alt="" style="width:60px"></td>
                                <td>@item.TENSP</td>
                                <td class="content">@item.CategoryCon.TENLOAISP</td>
                                <td class="content">@item.SL</td>
                                <td class="content">@item.GIA</td>
                                <td class="content">
                                    <a href="@Url.Action("Edit","Add",new {id=item.PRODUCT_ID})"><i class="fas fa-edit fa-1x" style="color: black"></i></a>
                                    <a href="@Url.Action("Delete","Add",new {id=item.PRODUCT_ID})"><i class="fas fa-trash-alt" style="color: black"></i></a>
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
                <div class="pagination">
                    Trang @(Model.PageCount < Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Sanpham", "Admin", new { page = page, @class = "pagenum" }))
                </div>
            </div>
            <div class="summary">
                <div class="summary-card">
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fas fa-id-badge fa-2x"></i></span>
                        <div>
                            <h5>196</h5>
                            <small>Nhân Viên</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fas fa-smile fa-2x"></i></span>
                        <div>
                            <h5>200</h5>
                            <small>Sản Phẩm Bán Chạy</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fab fa-product-hunt fa-2x"></i></span>
                        <div>
                            <h5>125</h5>
                            <small>Sản Phẩm Mới</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

