@using Web.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <h2 class="dash-title">Sản Phẩm</h2>
    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
                <div class="right">
                    <a href="@Url.Action("CreateProduct","Add")"><button><i class="fas fa-plus-circle"></i> Tạo Sản Phẩm</button></a>
                </div>
                <table>
                    <thread>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Loại</th>
                            <th>Số Lượng</th>
                            <th>Giá</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="content"><img src="~/Content/img/it_service/@item.HINHANH" alt="" style="width:60px"></td>
                                <td>@item.TENSP</td>
                                <td class="content">@item.CategoryCon.TENLOAISP</td>
                                <td class="content">@item.SL</td>
                                <td class="content">@string.Format("{0:#,0}",item.GIA)</td>
                                <td class="content">
                                    <a href="@Url.Action("Edit","Add",new {id=item.PRODUCT_ID})"><i class="fas fa-edit fa-1x" style="color: black"></i></a>
                                    <a href="@Url.Action("Delete","Add",new {id=item.PRODUCT_ID})"><i class="fas fa-trash-alt" style="color: black"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pagination">
                    Trang @(Model.PageCount < Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Sanpham", "Admin", new { page = page, @class = "pagenum" }))
                </div>
            </div>
            <div class="summary">
                <div class="summary-card">
                    <div class="summary-single">
                        <span class="ti-id-badge" style="margin-left:8px;"><i class="fas fa-id-badge fa-2x"></i></span>
                        <div>
                            <h5> @ViewBag.Tongnhanvien</h5>
                            <small> Nhân Viên</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fas fa-smile fa-2x"></i></span>
                        <div>
                            <h5>@ViewBag.Songuoitruycap</h5>
                            <small>Số người truy cập</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge" style="margin-left:5px;"><i class="fas fa-user fa-2x"></i></span>
                        <div>
                            <h5>@ViewBag.Songuoidangonl</h5>
                            <small>Số người đang online</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-id-badge"><i class="fab fa-product-hunt fa-2x"></i></span>
                        <div>
                            <h5>@ViewBag.Tongkhachhang</h5>
                            <small>Khách hàng</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<style>
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        .pagination a.active {
            background-color: dodgerblue;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

    .left {
        float: left;
        padding: 10px;
    }

    form.example input[type=text] {
        padding: 5px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 5px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        form.example button:hover {
            background: #0b7dda;
        }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>