@using Web.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>

@{ ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutShop.cshtml"; }

<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Shop Page</h1>
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li class="active">Shop</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 product_list_main">
    <div class="container">
        <div class="main_heading text_align_center">
            <h2>SHOP</h2>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    @foreach (var item in Model.OrderBy(n => n.GIA))
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                            <div class="product_list">
                                <div class="product_img"> <img class="img-responsive" src="~/Content/img/it_service/@item.HINHANH" alt=""> </div>
                                <div class="product_detail_btm">
                                    <div class="center">
                                        <h4><a href="@Url.Action("Detail","Home",new {Id = item.PRODUCT_ID})">@item.TENSP</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p><span class="new_price">@item.GIA VNĐ</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>  
                <div class="center">
                   @Html.PagedListPager(Model, page => Url.Action("Shop", "Home", new { page = page }))  
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="side_bar">
                    <div class="side_bar_blog">
                        <h4>SEARCH</h4>
                        <div class="side_bar_search">
                            @using (Html.BeginForm("KQTim", "TimKiem", FormMethod.Get))
                            {
                                <div class="input-group stylish-input-group">
                                    <input class="form-control" placeholder="Search" type="text" name="sTukhoa">
                                    <span class="input-group-addon">
                                        <button type="submit"style="cursor:pointer;"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                             }
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4>TAG</h4>
                        <div class="tags">
                            <ul>
                                <li><a href="#">T- Shirt</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Hoodie</a></li>
                                <li><a href="#">Jacket</a></li>
                                <li><a href="#">Short</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

